<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ReportFile" value="ReportFile.xml"/>
    <add key="DataFile" value="TimeSheet.txt"/>
    <add key="Schema" value="medibv."/>
    <!-- DataProviderType: Odbc; OleDb; Access; SQLite; MySql; PgSql; Sql; Oracle. -->
    <add key="DataProviderType" value="PgSql"/>
    <add key="ConnectionString" value="Server=172.16.1.250;Port=5434;User Id=medisoft;Password=links1920;Database=medisoft_chaudoc;Encoding=UNICODE;Pooling=false;"/>
    <!-- ConnectionString Examples -->
    <add key="MsAccessConnectionString" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=App_Data\QLKQCV.mdb"/>
    <add key="SQLiteConnectionString" value="Data Source=App_Data\QLKQCV.sqlite;Version=3;Pooling=False;Max Pool Size=100;"/>
    <add key="MySqlConnectionString" value="Server=127.0.0.1;Port=3306;Database=qlkqcv;Uid=root;Pwd=123456;"/>
    <add key="PgSqlConnectionString" value="Server=192.168.1.252;Port=5432;User Id=rbmdb;Password=838rbmdb;Database=qlkqcv;Encoding=UNICODE;Pooling=false;"/>
    <add key="SqlConnectionString" value="Data Source=192.168.1.225,1433;Network Library=DBMSSOCN;Initial Catalog=patient;User ID=sa;Password=;"/>
    <add key="OracleConnectionString" value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.1.114)(PORT=1521))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=medisoft.links)));User Id=myUsername;Password=myPassword;Integrated Security=no;"/>

    <add key="SendMessageUri" value="http://127.0.0.1:9333/ozeki?action=sendMessage"/>
    <add key="UserLogin" value="admin"/>
    <add key="UserPassword" value="abc123"/>
    <add key="ReceiveMessageUri" value="http://127.0.0.1:9400/"/>
  </appSettings>
</configuration>